/.idea/
*.iml
target
antlr/src/main/java/fr/polytech/MusicDSL*.java
antlr/src/main/java/fr/polytech/MusicDSL*.interp
antlr/src/main/java/fr/polytech/MusicDSL*.tokens

.DS_Store
*.midi
.env
.vscode
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Node.js runtime environment
node_modules/

/out/*.midi